body{ background-color:#babdcc;
       }
img{border-radius: 15px;
width:95%;}
.container{display: flex;
justify-content: space-around;
align-items: center;
padding: 2%;
  margin: 30%;
flex-direction: column;
text-align: center;
border-radius: 15px;
background: #fff;
font-size: 150%;
font-family: calibri;
}
p{color: #a5a5a8}
.attribution{opacity: 0.6;
color: #3d4ff2;}